### Ignore sensitive and workspace files ###
#confidential credentials
service_account.json
#workspace dev config
cloud_function_poc.code-workspace
#raw files
traffic_* 
#ignore pycache files
src/lib/__pycache__/*.pyc
#ignore temp folder
tmp